version: '3'

services:
  web:
    build: .
    container_name: web
    ports:
      - '8000:8000'
    volumes:
      - .:/app

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - '80:80'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./staticfiles:/staticfiles
    depends_on:
      - web
